<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles-administrador.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="primeraParte">
            <div class="logo"><img src="./images/LogoKaros.JPG" alt="Logo Kairos Afro" width=50%></div>
        
        <div class="segundaParte">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="form" action="#" method="GET">
                <input class="barraBusqueda" type="text" placeholder="Buscar">
                <button class="lupa"><i class="fa fa-search"></i></button>
            </div>            
            <div class="grupoIconos">
           
                <div><a href="/register" class="iconos"><i class="fas fa-user-plus" alt="Registrarse"></i></a></div>
                <div><a href="/login" class="iconos"><i class="fas fa-sign-in-alt" alt="Ingresar"></i></a> </div>
                <div><a href="/carrito_compras" class="iconos"><i class="fas fa-shopping-cart" alt="Carrito de Compra"></i></a></div>
    
            </div>
        
        </div>
        <nav class="letrasMenu">
            <ul type="none">
                <li><a href="/" class="letra">Inicio</a></li>
            </ul>
            <ul type="none">
                <li><a href="#" class="letra">¿Quienes somos?</a></li>
            </ul>
            <ul type="none">
                <li><a href="#" class="letra">Cabello</a></li>
            </ul>
            <ul type="none">
                <li><a href="#" class="letra">Piel</a></li>
            </ul>
            <ul type="none">
                <li><a href="#" class="letra">Maquillaje</a></li>
            </ul>
            <ul type="none">
                <li><a href="#" class="letra">Accesorios</a></li>
            </ul>

        </nav>
    </header>

    <main class="admin">
        <h2>Administrar productos</h4>
        <article class="agregar-producto">
            <a href="#"><i class="fas fa-plus-circle"></i>Agregar</a>
        </article>
        <article class="table-1">
        <table class="table-2">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Crema de peinar SKALA</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>
                    <th></th>
                    <td>2</td>
                    <td>Crema Cetafhil</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td> 
                    <th></th>
                    <td>3</td>
                    <td>Aceite de Ricino Negro</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>  
                    <th></th>
                    <td>4</td>
                    <td>Crema Blanqueadora Pgitiel de Arminio</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>  
                    <th></th>
                    <td>5</td>
                    <td>Set de Maquillaje</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>  
                    <th></th>
                    <td>6</td>
                    <td>Set de Maquillaje</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>  
                    <th></th>
                    <td>7</td>
                    <td>Turbante Sencillo</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>  
                    <th></th>
                    <td>8</td>
                    <td>Aretes</td>
                    <td><a href="#" class="icon-eye"><i class="far fa-eye"></i></a></td>
                    <td><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></td>
                    <td><a href="#" class="icon-trash"><i class="fas fa-trash-alt"></i></a></td>                                            
                </tr>
            </tbody>
        </table>
    </article>
    </main>

    <footer class="footer">
        <div>
            <p><b>Legal</b></p>
            <br>
            <nav>
                <ul type="none">
                    <li><a href="#" class="letra2">Condiciones de uso</a></li>
                    <li><a href="#" class="letra2">Política de privacidad</a></li>
                    <li><a href="#" class="letra2">Términos y Condiciones</a></li>
                    <li><a href="#" class="letra2">Política de cambios y devoluciones</a></li>
                    <li><a href="#" class="letra2">Política de datos Colombia</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p><b>Contactos</b></p>
            <br>
            <nav>
                <ul type="none">
                    <li><a href="#" class="letra2">Preguntas frequentes</a></li>
                    <li><a href="#" class="letra2">Escríbenos</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p><b>Redes Sociales</b></p>
            <br>
            <nav>
                <a href="#" class="letra2"><i class="fab fa-facebook" ></i></a>
                <a href="#" class="letra2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="letra2"><i class="fab fa-instagram"></i></a>
            </nav>
        </div>
        <div>
            <p><b>Operamos con:</b></p>
            <br>
            <nav class="letra2">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="far fa-credit-card"></i>
                <i class="fab fa-paypal"></i>
            </nav>
        </div>
    </footer>
</body>
</html>