<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles-productCart.css" rel="stylesheet">
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <div class="primeraParte">
            <div class="logo"><img src="/Images/LogoKaros.JPG" alt="Logo Kairos Afro" width=100%></div>

            <div class="segundaParte">
                <div>
                <div class="form" action="#" method="GET">
                    <div class="contenedor">
                        <span class="lupa">
                            <i class="fas fa-search"></i>
                        </span>
                        <input type="text">
                    </div>
                    </div>
               
                <nav>
                <div class="grupoIconos">
                    <div><a href="/register" class="iconos"><i class="fas fa-user-plus" alt="Registrarse"></i></a></div>
                    <div><a href="/login" class="iconos"><i class="fas fa-sign-in-alt" alt="Ingresar"></i></a> </div>
                    <div><a href="/carrito_compras" class="iconos"><i class="fas fa-shopping-cart" alt="Carrito de Compra"></i></a>
                    </div>
                </div>
            </nav>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>

            </div>
        
       <nav>
            <div class="letrasMenu">
                <ul type="none">
                    <li><a href="/" class="letra">Inicio</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/quienesSomos" class="letra">¿Quienes somos?</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/cabello" class="letra">Cabello</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/piel" class="letra">Piel</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/maquillaje" class="letra">Maquillaje</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/accesorios" class="letra">Accesorios</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h3>CARRITO ACTUAL</h3>
        <section>
            <article class="contenido-carrito">
            <div class="subtitulos-productos">
            <h5>Producto(s)</h5>
            <h5>Cantidad(es)</h5>
            <h5>Precio</h5>
            </div>
            <div class="productos-en-bolsa">
            <img class="producto" src="/images/crema_de_peinar.jpg" alt="articulo">
            <p class="cantidad-producto">1</p>
            <p class="precio-producto">$299.999</p>
            </div>
            </article>
            <button type="submit" class="boton-eliminar">Eliminar</button>
            <article class="cuadro">
            <div class="cuadro-pago">
            <a href="#" class="cupones">Cupones</a>
            <p class="subtotal">Subtotal:</p>
            <p class="envio">Envio:</p>
            <p class="total-pago">Total:</p>
            </div>
            <div class="botones-cuadro-pago">
                <form>
            <button type="submit">Finalizar compra</button>
            <br>
            <button type="submit">Seguir comprando</button>
        </form>    
        </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <div>
            <p><b>Legal</b></p>
            <br>
            <nav>
                <ul type="none">
                    <li><a href="#" class="letra2">Condiciones de uso</a></li>
                    <li><a href="#" class="letra2">Política de privacidad</a></li>
                    <li><a href="#" class="letra2">Términos y Condiciones</a></li>
                    <li><a href="#" class="letra2">Política de cambios y devoluciones</a></li>
                    <li><a href="#" class="letra2">Política de datos Colombia</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p><b>Contactos</b></p>
            <br>
            <nav>
                <ul type="none">
                    <li><a href="#" class="letra2">Preguntas frequentes</a></li>
                    <li><a href="#" class="letra2">Escríbenos</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p><b>Redes Sociales</b></p>
            <br>
            <nav>
                <a href="#" class="letra2"><i class="fab fa-facebook" ></i></a>
                <a href="#" class="letra2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="letra2"><i class="fab fa-instagram"></i></a>
            </nav>
        </div>
        <div>
            <p><b>Operamos con:</b></p>
            <br>
            <nav class="letra2">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="far fa-credit-card"></i>
                <i class="fab fa-paypal"></i>
            </nav>
        </div>
    </footer>
    </footer>
</body>
</html>