@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-image: url("https://shark.bimago.com/artgeist2/home_page/polish/Podr%C3%B3%C5%BCe.jpg");
  background-size: cover;
  height: auto;  
}

h3 {  
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.login {
  box-shadow: 3px 3px 32px 11px rgba(0,0,0,0.66);
  padding: 20px;
  background-color: #ffe4ec;
  border-radius: 5px;
  margin: auto;  
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.correo,
.contraseña {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.correo input,
.contraseña input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.alert-warning{
  font-family: 'Playfair Display', serif;
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin: 1rem;
  text-align: left;
  width: 90vw;
}

  .boton{
    background-color: #c97f64;
    font-size: 12px;
    color: white;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition-property: all;
  }
  
  .boton:hover {
    background-color: #F28E13;
  }

  .oContraseña{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-align: center;
  }

  .desktop{
    display: none;
  }


/*_________________MEDIA QUIERES_________________*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  h3{
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .alert-warning{
    width: 40vw;
  }

  .wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  h3{
    font-size: 18px;
    margin-right: 4rem;
  }
  
  .login{
    margin: 1rem 2rem 1rem 3rem;
    width: 30vw;
    font-size: 20px;
  }

  .desktop{
    display: flex;
    width: 40vw;
    font-family: 'Playfair Display', serif;
    margin: 15rem 0rem 1rem 0rem;
    font-size: 18px;  
  }

  .desktop p {
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    color: black;    
  }

}

@media screen and (min-width: 1281px) {

  .alert-warning{
    margin: 1rem 0 1rem 13rem;
    width: 20vw;
  }

  .wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .desktop{
    display: flex;
    width: 20vw;
    font-family: 'Playfair Display', serif;
    margin: 1rem 0rem 1rem 20rem;
    font-size: 25px;  
  }

  .desktop p {
    text-align: right;
    line-height: 50px;
    color: white;    
  }

  h3{
    font-size: 25px;
    color: white;
  }

  .login{
    margin-top: 1rem;
    width: 20vw;
    margin: 1rem 0 1rem 13rem;
  }
  .nombre,
  .apellido,
  .correo,
  .contraseña,
  .confirmacionContraseña,
  .avatar {  
    font-size: 16px;
  }

  .avatar input{
    font-size: 14px;
  }

  .botonRegistrarse {
    font-size: 14px;
  }
  
  .botonBorrar {
    font-size: 14px;
  }
  
  .boton:hover{
    background-color: #e6c398;
  }

  .terminos{
    font-size: 14px;
  }

  .oContraseña:hover{
    color: black;
  }

}