@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

html, body{
    font-size: 62.5%;
    font-family: "Roboto Mono", monospace;
    height:100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*MAIN*/
main {
  background-color: #f2d6bd;
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
  margin-bottom: -15px;
}

main h3 {
  
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 30px;
} 

main section {
  display: block;
  justify-content: space-around;
}

main section .contenido-carrito {
  margin: 20px;
  width: 90vw;
}

main section .contenido-carrito .subtitulos-productos {
  display: flex;
  justify-content: space-around;
  margin-left: -45px;
}

main section .contenido-carrito .subtitulos-productos h5 {
  padding-bottom: 10px;
  font-size: 15px;
}

main section .contenido-carrito .productos-en-bolsa {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-left: -169px;
}

main section .contenido-carrito .productos-en-bolsa .producto {
  margin-top: 30px;
  width: 90px;
  position: relative;
  bottom: 25px;
  left: 40px;
}

main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
  position: relative;
  left: 70px;
}

main section .contenido-carrito .productos-en-bolsa .precio-producto {
  position: relative;
  left: 90px;
}

main section .boton-eliminar{
  text-align: center;
}

main section .cuadro-pago {
  border: 1px solid #261e1a;
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  width: 300px;
  background: white;
  font-size: 15px;
}

main section .cuadro-pago .cupones {
  display: inline;
  text-decoration: none;
  color: #261e1a;
  border-bottom: 1px solid #261e1a;
}

main section .cuadro-pago .subtotal {
  border-bottom: solid 1px #261e1a;
}

main section .cuadro-pago .envio {
  border-bottom: solid 1px #261e1a;
}

main section .cuadro-pago .total-pago {
  text-align: center;
  border-bottom: solid 1px #261e1a;
}

main section .botones-cuadro-pago {
  display: flex;
  justify-content: center;
}

main section .botones-cuadro-pago button {
  margin: auto;
  padding: 10px;
  border: 1px double #f2be22;
  border-radius: 2px;
}

main section .botones-cuadro-pago button:hover {
  background-color: #f2a71b;
}


  /*_________________MEDIA QUIERES_________________*/
   /*TABLET*/
  @media screen and (min-width:424px){
   main section {
    display: block;
    justify-content: space-around;
  }

  main section .contenido-carrito {
    margin: 20px;
  }

  main section .contenido-carrito .subtitulos-productos {
    flex-wrap: nowrap;

  }

  main section .contenido-carrito .subtitulos-productos p {
    padding-left: 110px;
    padding-bottom: 10px;
  }

  main section .contenido-carrito .productos-en-bolsa {
    display: flex;
    justify-content: space-evenly;
    margin-left: -141px;
  }

  main section .contenido-carrito .productos-en-bolsa .producto {
    margin-top: 30px;
    width: 90px;
    position: relative;
    bottom: 25px;
    left: 40px;
  }

  main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
    position: relative;
    left: 70px;
  }

  main section .contenido-carrito .productos-en-bolsa .precio-producto {
    position: relative;
    left: 90px;
  }

  main section .cuadro-pago {
    margin: auto;
    margin-bottom: 10px;
  }

  main section .cuadro-pago .cupones {
    display: inline;
    text-decoration: none;
    color: #261e1a;
    border-bottom: 1px solid #261e1a;
  }

  main section .cuadro-pago .subtotal {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .envio {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .total-pago {
    text-align: center;
    border-bottom: solid 1px #261e1a;
  }

  main section .botones-cuadro-pago {
    display: flex;
    justify-content: center;
  }

  main section .botones-cuadro-pago button {
    margin: auto;
    padding: 10px;
    border: 1px double #f2be22;
    border-radius: 2px;
  }

  }

 /*COMPUTADOR*/

  @media screen and (min-width: 768px){
  /* main */

  main {
    width: 105vw;
  }

  main section {
    display: flex;
    justify-content: space-around;
  }

  main section .contenido-carrito {
    margin: 20px;
    width: 20vw;
  }

  main section .contenido-carrito .subtitulos-productos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  main section .contenido-carrito .subtitulos-productos h5 {
    padding-left: 110px;
    padding-bottom: 10px;
    margin-left: 10px;
  }

  main section .contenido-carrito .productos-en-bolsa {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 120px;
    margin-left: 0;
  }

  main section .contenido-carrito .productos-en-bolsa .producto {
    margin-top: 30px;
    width: 90px;
    position: relative;
    bottom: 25px;
    left: 40px;
    flex: auto;
  }

  main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
    position: relative;
    left: 145px;
  }

  main section .contenido-carrito .productos-en-bolsa .precio-producto {
    position: relative;
    left: 310px;
  }

  main section .boton-eliminar{
    height: 20px;
    position: relative;
    top:48px
  }

  main section .cuadro-pago {
    border: 1px solid #261e1a;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    width: 300px;
    background: white;
  }

  main section .cuadro-pago .cupones {
    display: inline;
    text-decoration: none;
    color: #261e1a;
    border-bottom: 1px solid #261e1a;
  }

  main section .cuadro-pago .subtotal {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .envio {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .total-pago {
    text-align: center;
    border-bottom: solid 1px #261e1a;
  }

  main section .botones-cuadro-pago {
    display: flex;
    justify-content: center;
  }

  main section .botones-cuadro-pago button {
    margin: auto;
    padding: 10px;
    border: 1px double #f2be22;
    border-radius: 2px;
  }

  main section .botones-cuadro-pago button:hover {
    background-color: #f2a71b;
  }

    }

 @media screen and (min-width: 1024px){  
    main ul li img {        
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
                     }
 /*.letrasMenu ul li .letra:hover{
  color: #f2be22;
  border-radius: 20px;
                    }
nav .letra{
font-size: 22px;
margin-right: 33px;      
                  }*/
        }   