@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-image: url("https://media.istockphoto.com/photos/creative-concept-with-shopping-trolley-with-makeup-on-a-pink-perfume-picture-id1140638196?k=20&m=1140638196&s=170667a&w=0&h=LKfCXvaWMFwNm4OktqrgfDlVV1nwhW-AuL8Hzak3jOw=");
  background-size: 100% 100% ;
  height: auto;
  
}

h3 {  
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin: 20px auto;
  color: black;
  text-align: center;
  font-weight: bold;

}

.admin{
  flex-wrap: wrap;
}

.admin table {
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  width: 50vw;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  opacity: 0.85;
  box-shadow: 3px 3px 32px 11px rgba(0,0,0,0.66);
}

.admin table, th, td {
  border: 1px solid transparent;
  border-collapse: collapse;
}
.admin th, td {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.admin tr td:nth-child(2) { text-align: left; }

.primer-item img{
  width: 10vw;

}

.trash{
  width: 0.8rem;
  fill: #df1538;
  position: relative;
  bottom: 10px;
}

.total{
  width: 72vw;
  height: 50vh;
  background-color: white;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  opacity: 0.85;
  box-shadow: 3px 3px 32px 11px rgba(0,0,0,0.66);
}

.total table{
  box-shadow: none;

}

.total h2{
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #00000085;
  height: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.total h3{
  font-size: 18px;
  text-align: center;
  background: rgb(241, 121, 108);
  height: 30px;
  border-radius: 10px;
  margin-top: 2rem;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  font-weight: bold;
  width: 50vw;
}

.total table {
  width: 16vw;
  margin-left: 4rem;
  margin-top: 1rem;
  background-color: transparent;
}

.total th {
  text-align: right;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

@media screen and (min-width: 425px) and (max-width: 767px) {

}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .admin{
    display: flex;
    flex-wrap: wrap;
  }

  .admin table {
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    width: 50vw;
    margin: auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .total{
    width: 30vw;
    height: 50vh;
    background-color: white;
    margin-top: 0;
    border-radius: 10px;
  }

  .total table {
    width: 10vw;
    margin-left: 4rem;
    margin-top: 1rem;
    background-color: transparent;
  }

  .total h3{
    width: 20vw;
  }

}

@media screen and (min-width: 1281px) { 

  .admin{
    display: flex;
    flex-wrap: wrap;
  }

  .admin table {
    background-color: white;
    font-family: 'Playfair Display', serif;
    margin-left: 2rem;
    font-size: 1rem;
    width: 50vw;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .admin table, th, td {
    border: 1px solid transparent;
    border-collapse: collapse;
  }
  .admin th, td {
    padding: 5px;
    text-align: center;
  }

  .admin tr td:nth-child(2) { text-align: left; }

  .primer-item img{

    width: 5vw;

  }

  .total{
    width: 22vw;
    height: 50vh;
    background-color: white;
    opacity: 0.85;
    border-radius: 10px;
    margin-top: 0;
    margin-left: 15rem;
  }

  .total h2{
    font-size: 20px;
    text-align: center;
  }

  .total h3{
    width: 15vw;
  }

  .total table {
    width: 20vw;
    margin: 0.1rem;
    margin-top: 1rem;
    background-color: transparent;
  }

  .total th {
    text-align: right;
    line-height: 38px;
  }

}   