@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/321/398/non_2x/abstract-pink-background-pink-modern-shapes-background-vector.jpg");
  height: auto;
  
}

h3 {  
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin: 20px auto;
  color: black;
  text-align: center;

}

@media screen and (min-width: 425px) and (max-width: 767px) {

}

@media screen and (max-width: 1280px) and (min-width: 768px) {

}

@media screen and (min-width: 1281px) { 

  .admin{
    display: flex;
    flex-wrap: wrap;
  }

  .admin table {
    background-color: white;
    font-family: 'Playfair Display', serif;
    margin-left: 2rem;
    font-size: 1rem;
    width: 50vw;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .admin table, th, td {
    border: 1px solid transparent;
    border-collapse: collapse;
  }
  .admin th, td {
    padding: 5px;
    text-align: center;
  }

  .admin tr td:nth-child(2) { text-align: left; }

  .primer-item img{

    width: 5vw;

  }

  hr{
    color: black;
    size: 1px;
  }

  .total{
    width: 20vw;
    height: 50vh;
    background-color: white;
    margin-left: 15rem;
    border-radius: 10px;
  }

  .total h2{
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
  }

  .total table {
    width: 20vw;
    margin: 0.1rem;
    margin-top: 1rem;
    background-color: transparent;
  }

  .total th {
    text-align: right;
  }

}   