@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/321/398/non_2x/abstract-pink-background-pink-modern-shapes-background-vector.jpg");
  height: auto;
  margin-bottom: -15px;
}

.box input {    
  border: 1px solid transparent;
  width: 95vw;
  height: 5vh;
  margin-left: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;  
  padding: 5px;
}

.box{
  display: initial;
}

.box .user{
  display: grid;
  justify-content: center;
}

.box .user a{
  margin: auto;
}

.box .user h4{
  font-family: 'Playfair Display', serif;  
}

main div{
  margin:auto;
  margin-top: 10px;
}

main img{
  margin-top: 10px;
  border-radius: 20px;
}

.somos {
  width: 100vw;
  height: auto;
  margin-top: 3rem;
  text-align: center;
  background-color: rgb(248, 234, 234);
  padding: 1rem;
}

p {
  font-family: 'Playfair Display', serif;
  text-align: justify;
  margin: 1rem;
}

.carousel{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {  
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin: 20px auto;
  color: black;
  text-align: center;
  background-color: rgb(248, 234, 234);
  padding: 1rem;

}

.sliderDestacados {
  width: 80vw;
  height: 30vh;
  background: url(../Images/products/polvo-compacto.png);
  background-size: cover;
  margin: 20px auto;
  border-radius: 5%;
  animation: slideDestacados 30s infinite;
  animation-delay: 2s;
}

@keyframes slideDestacados {

  20%{
    background: url(../Images/products/crema-arminio.png);
    background-size: cover;
  }
  40%{
    background: url(../Images/products/crema-afro.jpg);
    background-size: cover;
  }
  60%{
    background: url(../Images/products/crema-cetafhil.jpg);
    background-size: cover;
  }
  80%{
    background: url(../Images/products/Maxi_Aretes_Vive-Afro_2.jpg);
    background-size: cover;
  }
  100%{
    background: url(../Images/products/polvo-compacto.png);
    background-size: cover;
  }
}

.sliderMarcas {
  width: 80vw;
  height: 30vh;
  background: url(../Images/marcas/africabest.JPG);
  background-size: cover;
  margin: 20px auto;
  border-radius: 5%;
  animation: slideMarcas 25s infinite;
  animation-delay: 2s;
}

@keyframes slideMarcas {

  20%{
    background: url(../Images/marcas/africabest.JPG);
    background-size: cover;
  }
  40%{
    background: url(../Images/marcas/hawai.JPG);
    background-size: cover;
  }
  60%{
    background: url(../Images/marcas/bigen.JPG);
    background-size: cover;
  }
  80%{
    background: url(../Images/marcas/devacurl.JPG);
    background-size: cover;
  }
  100%{
    background: url(../Images/marcas/africabest.JPG);
    background-size: cover;
  }
}

.sliderCategorias {
  width: 80vw;
  height: 30vh;
  background: url(../Images/categorias/accesorios.JPG);
  background-size: cover;
  margin: 20px auto;
  border-radius: 5%;
  animation: slideCategorias 20s infinite;
  animation-delay: 2s;
}

@keyframes slideCategorias {

  25%{
    background: url(../Images/categorias/cabello.JPG);
    background-size: cover;
  }
  50%{
    background: url(../Images/categorias//maquillaje.JPG);
    background-size: cover;
  }
  75%{
    background: url(../Images/categorias/piel.JPG);
    background-size: cover;
  }
  100%{
    background: url(../Images/categorias/accesorios.JPG);
    background-size: cover;
  }
}


@media screen and (min-width: 425px) and (max-width: 767px) {

  .sliderDestacados, 
  .sliderCategorias, 
  .sliderMarcas {
    width: 80vw;
    height: 40vh;
  }
}


@media screen and (max-width: 1280px) and (min-width: 768px) {
  
  main img {
    height: 50vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
  }

  h2{
    margin: 2rem 0rem 0rem 0rem;
  } 

  /* .box{
    display: -webkit-inline-box;
    margin-left: 100px;
  }

  .box .user{
    display: contents;
  } */

  .somos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 0rem;
    text-align: center;
    background-color: rgb(248, 234, 234);
  }

  .somos img {
    width: 40vw;
    height: 35vh;
  }
  
  p {
    font-family: 'Playfair Display', serif;
    text-align: justify;
    width: 28vw;
    margin-top: 0;
  }

  .sliderCategorias,
  .sliderDestacados,
  .sliderMarcas {
    width: 230px;
    height: 120px;
  }

}

@media screen and (min-width: 1281px) {

  .box input {    
    border: 1px solid transparent;
    width: 95vw;
    height: 5vh;
    margin: 0.5rem 2rem;
    font-size: 15px;
  }

  .box .user a i{
    font-size: 40px;
  }

  main img {
    height: 60vh;
    width: 95vw;
    position: relative;
    margin: 0.5rem 2rem;
    top: 0;
    left: 0;
  }

  h2{
    margin: 2rem 0rem 0rem 0rem;
  }

  .somos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 0rem;
    text-align: center;
    background-color: rgb(248, 234, 234);
  }

  .somos img {
    width: 30vw;
    height: 40vh;
  }
  
  p {
    font-family: 'Playfair Display', serif;
    text-align: justify;
    width: 20vw;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .sliderCategorias,
  .sliderDestacados,
  .sliderMarcas {
    width: 430px;
    height: 250px;
  }

}