@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
img {
  width: 100%;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*HEADER*/

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 320px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  margin-top: 0px;
  align-self: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.primeraParte .segundaParte .form {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.primeraParte .segundaParte .form .contenedor {
  width: 300px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primeraParte .segundaParte .form input {
  width: 265px;
  height: 25px;
  border: none;
  outline: none;
}
.primeraParte .segundaParte .form .contenedor:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
.primeraParte .segundaParte .form .lupa {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.burger-menu i {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.grupoIconos {
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.grupoIconos .iconos {
  margin-right: 30px;
  color: beige;
}
.grupoIconos .iconos:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px black;
  color: #222;
}

.letrasMenu {
  display: none;
}
/*BODY*/
main{
  background-color: #f2d6bd;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center; 
  flex-direction: column;
  right: 1px;
  left: 1px;
}
/* .body {
  background-color: #f2d6bd;
  padding-bottom: 10px;
} */
h3 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.register {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  margin: 2% 10% 2% 10%;
  display: flex;
  flex-direction: column;
}

.forma {
  margin-bottom: 20px;
  align-items: center;
  font-size: 16px;
  text-align: left;
}

.forma input {
  width: 100%;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.botonEdit {
  background-color: #8c4e37;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}
.botonRegistrarse:hover {
  background-color: #f28e13;
}

/*FOOTER*/

.footer {
  background-color: black;
  width: 105vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.footer p {
  padding: 10px 0px 0px 15px;
  font-size: 16px;
}

.letra2 {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: 12px;
}

/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
@media screen and (min-width: 424px) {
  header {
    height: 350px;
  }
  main {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
}

/*COMPUTADOR*/

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 57vh;
  }
  .burger-menu{
    display: none;
  }

  .logo img {
    width: 50%;
  }

  .letrasMenu{
    display: flex;
    background-color: white;
    width: 100%;
  }
  .letra {
    color: black;
  }
  /* .contenedor {
    margin-top: 20px;
  }
  .container,
  .container2,
  .container3 {
    height: 500px;
  } */

  nav .letrasMenu {
    display: flex;
    justify-content: space-between;
    border: black solid 1px;
    background-color: white;
    font-weight: bold;
  }
  nav .letra {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

  .footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 0px;
    justify-content: space-around;
    text-align: left;
  }

  .letra2 {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 57vh;
  }
  .burger-menu{
    display: none;
  }

  .logo img {
    width: 50%;
  }

  .letrasMenu{
    display: flex;
    background-color: white;
    width: 100%;
    
  }
  .letra {
    color: black;
  }

  main ul li img {
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
  }
  .letrasMenu ul li .letra:hover {
    color: #f2be22;
    border-radius: 20px;
  }
  nav .letra {
    font-size: 22px;
    margin-right: 33px;
  }

  /*MAIN*/
  h3 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .register {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    margin: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
  }
  


}


