@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

/*BODY*/
main{
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-color: #f2d6bd;
  height: auto;  
}

h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register {
  box-shadow: 3px 3px 32px 11px rgba(0,0,0,0.66);
  padding: 20px;
  margin-top: 20px;
  background-color: #ffe4ec;
  border-radius: 5px;
  margin: 5% 10% 2% 10%;
  display: flex;
  flex-direction: column;
}

.nombreProducto,
.precioProducto,
.referenciaProducto,
.cantidadProducto,
.descripcionProducto,
.imagenProducto {  
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.nombreProducto input,
.precioProducto input,
.referenciaProducto input,
.cantidadProducto input,
.descripcionProducto input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.imagenProducto input {
  background-color: white;
  margin-top: 2px;
  padding: 20px 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.botonBack{
  border-radius: 5px;  
  position: absolute;
  left: 140px;
  top: 10px;
}

.botonBack a{
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* form div label{
  font-size: 20px;
}

form div input{
  border-radius: 5px;
}

form div textarea{
  margin-top: 10px;
  width: 50%;
  height: 100px;
  border-radius: 5px;
  resize: none;
}

form div h4{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.forma {
  margin-bottom: 20px;
  align-items: center;
  font-size: 16px;
  text-align: left;
}

.forma input {
  width: 100%;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid black;
} */

.imagenProducto img{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;  
}

.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin: 1rem 40rem;
  text-align: left;
  width: 40%;
}

.botonEdit {
  background-color: #8c4e37;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}
.botonEdit:hover {
  background-color: #f28e13;
}



/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
/* @media screen and (min-width: 424px) {  
  main {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
} */

/*COMPUTADOR*/

/* @media screen and (min-width: 768px) { 
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

} */

@media screen and (min-width: 425px) and (max-width: 767px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }  
  
  .alert-warning{    
    width: 55vw;
    margin-left: 21rem;
    margin-bottom: 1rem;
  }

  h3{
    font-size: 18px;
  }

  .register{
    width: 40vw;
    margin: auto;
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

/* @media screen and (min-width: 1024px) {
  header {
    width: 100%;
  }
  .burger-menu{
    display: none;
  }

  .letrasMenu{
    display: flex;
    background-color: white;
    width: 100%;
    
  }
  .letra {
    color: black;
  }

  main ul li img {
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
  }
  .letrasMenu ul li .letra:hover {
    color: #f2be22;
    border-radius: 20px;
  }
  nav .letra {
    font-size: 22px;
    margin-right: 33px;
  } */

  /*MAIN*/
  /* h3 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .register {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    margin: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
  }
} */

@media screen and (min-width: 1281px) {

  main{
    display: grid;
    justify-items: center;    
  }

  .alert-warning{    
    width: 40vw;
    margin-left: 45rem;
    margin-bottom: 1rem;
  }

  h3{
    font-size: 25px;
  }

  .register{
    margin-top: 1rem;
    width: 40vw;
    margin: 1rem 0 2rem 5rem;
  }

  .nombreProducto,
  .precioProducto,
  .referenciaProducto,
  .cantidadProducto,
  .descripcionProducto,
  .imagenProducto{  
    font-size: 16px;
  }

  #descripcionProducto{
    width: 492px;
    height: 113px;
    resize: none;
  }

  .imagenProducto input{
    font-size: 14px;
  }

  .botonAdd {
    font-size: 14px;
  }

  .botonAdd:hover{
    background-color: #e6c398;
  }
}
