@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
	position: sticky;
	top: 0px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: saturate(180%) blur(5px);
	z-index: 1;
}

nav {
	font-family: 'IBM Plex Mono', monospace;
	height: 50px;
	width: 100%;
}

.logo {
line-height: 50px;
font-family: 'Playfair Display', serif;
font-size: 25px;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	line-height: 50px;
}

nav ul li a {
      /* estilo de pantalla completa */
	color: #060a24;
	font-size: 9px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover {
	color: #00f3bb;
	transition: all .5s;
	text-decoration: line-through;
}

nav ul li a:active {
	color: rgba(6, 10, 36, 0.56);
	transition: all .5s;
	text-decoration: line-through;
}

.checkbtn, .checkbtn_close {
  /* no mostrar el logo de fontawesone */
	width: 18px;
	font-size: 12px;
	color: #000000;
	float: right;
	line-height: 50px;
	margin-right: 22px;
	cursor: pointer;
	display: none;
}

#check {
  /* esconder el checkbox */
	display: none;
}

@media screen and (max-width: 599px) {
  /* contenido sobre el Hamburger menu */
	.logo {
		margin-left:16px;   
	}

	.checkbtn {
		display: block;
	}

	nav ul {
		position: fixed;
		width: 100%;
		height: 500px;
    	background:pink;
		top: 44px;
		left: -100%;
		text-align: left;
		transition: all 0.5s;
	}

	nav ul li {
		display: block;
		margin: 0px 0px 24px 16px;
		line-height: 30px;
	}

	nav ul li:nth-of-type(1) {
		margin: 16px 0px 24px 16px;
	}

	nav ul li a {
		font-size: 10px;
		color: black;
	}

	#check:checked ~ ul {
		left: 0;
	}

	#check:checked ~ .checkbtn {
		display: none;
	}

	#check:checked ~ .checkbtn_close {
		display: block;
	}
}

@media screen and (max-width: 1280px) and (min-width: 600px) {
	nav {
		height: 60px;
	}

	nav li {
		margin-left: 1px;
	}

	nav ul li a {
		font-size: 10px;
		line-height: 60px;
		margin-right: 3px;
	}

	label.logo {
		line-height: 60px;
		padding-left: 40px;
	}

	label.logo img {
		transform: scale(1.25, 1.25);
	}
}

@media screen and (min-width: 1281px) {
	nav {
		height: 80px;
	}

	nav li {
		margin-left: 5px;
	}

	nav li:nth-of-type(4) {
		margin: 0px 100px 0px 0px;
	}

	nav ul li a {
		font-size: 10px;
		line-height: 80px;
		margin-right: 48px;
	}

	label.logo {
		line-height: 80px;
		padding-left: 100px;
	}

	label.logo img {
		transform: scale(1.5, 1.5);
	}
}