@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



/* main admin */

main {
  background-color: #f2d6bd;
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
}

.admin h2{
    font-size: 60px;
    text-align: center;
}

.admin .agregar-producto{
    padding-bottom: 10px;
}

.admin .agregar-producto a{
  font-size: 17px;
}

.admin table {
  font-size: 1rem;
  width: 100%;
}

.admin table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.admin th, td {
  padding: 5px;
  text-align: center;
}

.admin tr td:nth-child(2) { text-align: left; }

.admin .table-1 .table-2 tbody tr td a:visited{
    color: rgb(32, 146, 146);
}



/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
@media screen and (min-width: 424px) {
  
  main {
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
}

/*COMPUTADOR*/

@media screen and (min-width: 768px) {
  
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

  /*MAIN*/
  .articulo{
    width: 35%;
    padding: 10px;
 
   }
   .imagen {
     border: solid #8c4e37 1px;
     border-radius: 5%;
     width: 70%;
   }
   
   .producto {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
       
   }
   
   .d-producto {
     border-top: 1px solid transparent;
     background-color: #fff;
     padding: 20px 30px;
     margin: auto;
   }
   .datos {
     color: black;
     font-size: 16px;
     text-align: left;
   }
   .d2-producto {
     border-top: 1px solid transparent;
     background-color: #fff;
     padding: 20px 30px;
     text-align: center;
     border-radius: 5%;
   }
   
   .titulo {
     padding: 5px;
     text-decoration: underline;
     text-align: left;
     font-size: 20px;
   }
   
   h2 {
     text-align: left;
     font-size: 20px;
     text-decoration: underline;
   }
 
   .descripcion{
     font-size: 16px;
     text-align: justify;
   }


  
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
  }
  .burger-menu{
    display: none;
  }

  .letrasMenu{
    display: flex;
    background-color: white;
    width: 100%;
    
  }
  .letra {
    color: black;
  }

  main ul li img {
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
  }

  .letrasMenu ul li .letra:hover {
    color: #f2be22;
    border-radius: 20px;
  }
  nav .letra {
    font-size: 22px;
    margin-right: 33px;
  }
}