@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

/* header */

header {
  width: 100%;
}

div.primeraParte {
  display: flex;
  flex-wrap: wrap;
  background-color: #8c4e37;
  justify-content: space-around;
  width: 100vw;
}

.logo {
  width: 100%;
  padding: 10px 100px;
  justify-content: right;
  position: relative;
  left: 100px;
}

div.segundaParte {
  display: flex;
  background-color: #8c4e37;
  justify-content: space-around;
  padding: 10px;
}

.burger-menu {
  text-align: center;
}
.burger-menu i {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.grupoIconos {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.iconos {
  color: black;
  font-size: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
}

.barraBusqueda {
  font-size: 5%;
  width: 120px;
  padding: 10px;
  margin: 10px;
}

.lupa {
  font-size: 90%;
  padding: 0px;
}

.letrasMenu {
  display: none;
}

.letra {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* footer */

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;

  justify-content: space-around;
}

.footer p {
  padding: 10px 0px 0px 50px;
}

.letra2 {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 50px;
}

/* main admin */

main {
  background-color: #f2d6bd;
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
}

.admin{
    padding: 10px;
}

.admin h2{
    font-size: 60px;
    text-align: center;
}

.admin .agregar-producto{
    padding-bottom: 10px;
}

.admin .table-1{
    margin-right: -80px;
    display: flex;
    justify-content: center;
}

.admin .table-1 .table-2 thead{
    display: flex;
    border-bottom: 1px solid black;
}

.admin .table-1 .table-2 thead tr{
    display: block;
    width: 100vw;
    
}

.admin .table-1 .table-2 thead tr th{
    display: inline;
    margin-right: 210px;
    
}

.admin .table-1 .table-2 tbody{
    display: flex;
}

.admin .table-1 .table-2 tbody tr{
    display: block;
    width: 100vw;
    border-bottom: 1px solid gray;
}

.admin .table-1 .table-2 tbody tr td{
    display: inline;
    margin-right: 160px;    
} 

.admin .table-1 .table-2 tbody tr td .icon-eye{
    position: absolute;
    left: 565px;
}

.admin .table-1 .table-2 tbody tr td .icon-pencil{
    position: absolute;
    left: 825px;
}

.admin .table-1 .table-2 tbody tr td .icon-trash{
    position: absolute;
    left: 1110px;
}

.admin .table-1 .table-2 tbody tr td a:visited{
    color: rgb(32, 146, 146);
}

/* footer */

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
  
    justify-content: space-around;
  }
  
  .footer p {
    padding: 10px 0px 0px 15px;
    font-size: 16px;
  }
  
  .letra2 {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 25px;
    text-align: center;
    font-size: 12px;
  }

@media (min-width: 769px) {

    /*HEADER*/

    div.primeraParte{
        display: flex;
        background-color: #8C4E37;
        width: 105vw;
        background-size: cover;
        padding: 0px 0px;
        justify-content: space-around;
       
    }
   
    div.segundaParte{
        display: flex;
        background-color: #8C4E37;
        justify-content: flex-end;
        padding: 50px 20px 30px 0px;
        position: relative;
        left: 200px;
       
    }
   
    .iconos{
        color: black;
        font-size: 200%;
        padding: 50px 10px 20px 40px;
        text-align: right;
        display: flex;
        text-decoration: none;    
   
    }
       
   
    .logo{
        border-radius: 30%;
        width: 45%;
        padding: 30px 0px 10px 20px;
        position: absolute;
        left: 90px;
        top: 10px;
    }
   
    .barraBusqueda{
        font-size: 100%;
        width: 600px;
        margin: 60px 5px 30px 0px;
       
     
       
    }
   
    .lupa{
        font-size: 150%;
        padding: 0px;
    }
   
   
    .letrasMenu{
        background-color: #A65E44;
        display: flex;  
        width: 105vw;
        justify-content: space-around;
        color: black;
        font-style: normal;
        text-decoration: none;
        padding: 10px;
        margin: 2px;
        align-items: center;   
    }

    .letrasMenu ul{
        border-right: 3px dashed #f2be22;
    }

    .letrasMenu ul li .letra:hover{
        color: #f2be22;
        border-radius: 20px;
    }
   
    .letra{
        color: black;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        padding: 10px 70px;
       
    }
   
    .burger-menu{
        display: none;
    }
       /*FOOTER*/
       .footer{
        background-color: black;
        width: 105vw;
        display: flex;
        flex-direction: row;
        color: white;
        padding-right: 20px;
        justify-content: space-around;
    }
   
    .letra2{
        color: white;
        text-decoration: none;
    }
} 