* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  
}

.box{
  display: initial;
  margin-left: 20px;
}

.box .user{
  display: flex;
  margin-left: inherit;
}

main div{
  margin:auto;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0px; 
  margin-left: 60px; 
}

main video{
  margin-left: 30rem;
  margin-bottom: 3rem;
  border: 1px solid black;
}

main ul{
  display: flex;
  width:320px;
  height:240px;
  animation: cambio 20s infinite alternate;
}

main ul li{
  list-style: none;
  width: 100%;
}

main ul li img{
  width:320px;
  height:240px;
}
@keyframes cambio{
  0%{margin-left:0;}
  20%{margin-left:0;}

  25%{margin-left:-100%;}
  45%{margin-left:-100%;}

  50%{margin-left:-200%;}
  70%{margin-left:-200%;}

  75%{margin-left:-300%;}
  100%{margin-left:-300%;}
}


@media screen and (min-width: 425px) and (max-width: 599px) {

  main ul{
    display: flex;
    width:600px;
    height:420px;
    animation: cambio 20s infinite alternate;
  }
  
  main ul li{
    list-style: none;
    width: 100%;
  }
  
  main ul li img{
    width:600px;
    height:420px;
  }

}

@media screen and (max-width: 1280px) and (min-width: 600px) {

  .box{
    display: -webkit-inline-box;
    margin-left: 42px;
  }
  
  .box .user{
    display: contents;
  }

  .box h6{
    font-size: 20px;
  }
  
  main ul{
    display: flex;
    width:600px;
    height:420px;
    animation: cambio 20s infinite alternate;
  }
  
  main ul li{
    list-style: none;
    width: 100%;
  }
  
  main ul li img{
    width:600px;
    height:420px;
  }
  
}

@media screen and (min-width: 1281px) {

  .box{
    display: -webkit-inline-box;
    margin-left: 100px;
  }

  .box .user{
    display: contents;
  }
  
  main ul{
    display: flex;
    width:600px;
    height:420px;
    animation: cambio 20s infinite alternate;
  }
  
  main ul li{
    list-style: none;
    width: 100%;
  }
  
  main ul li img{
    width:600px;
    height:420px;
  }
  
}