@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
img{
    width: 100%;
}
html, body{
    font-size: 62.5%;
    font-family: "Roboto Mono", monospace;
    height:100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*HEADER*/


header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    }
header img{
          margin-top: 0px;
          align-self: center;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
   
      
.primeraParte .segundaParte .form {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.primeraParte .segundaParte .form .contenedor{
    width: 300px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeraParte .segundaParte .form input{
    width: 265px;
       height: 25px;
       border:none;
       outline: none; 
}
.primeraParte .segundaParte .form .contenedor:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
.primeraParte .segundaParte .form .lupa{
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 18px;
height: 18px;
font-size: 18px;
}
.burger-menu i {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }

.grupoIconos{
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.grupoIconos .iconos {
    margin-right: 30px;
    color: black;
    
}
.grupoIconos .iconos:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px black;
    color: #222;
}

.letrasMenu{
    display: none;
}
/*MAIN*/
main {
  background-color: #f2d6bd;
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
  margin-bottom: -15px;
}

main h3 {
  
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 30px;


  /* width: 150px;
  height: 80px;
  font-size: 23px;
  padding: 10px;
  margin: 10px;
  border: 1px #261e1a solid;
  border-radius: 50%;
  text-align: center;
  background-color: #d96c0d; */
} 

main section {
  display: block;
  justify-content: space-around;
}

main section .contenido-carrito {
  margin: 20px;
  width: 90vw;
}

main section .contenido-carrito .subtitulos-productos {
  display: flex;
  justify-content: space-around;
  margin-left: -45px;
}

main section .contenido-carrito .subtitulos-productos h5 {
  padding-bottom: 10px;
  font-size: 15px;
}

main section .contenido-carrito .productos-en-bolsa {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-left: -169px;
}

main section .contenido-carrito .productos-en-bolsa .producto {
  margin-top: 30px;
  width: 90px;
  position: relative;
  bottom: 25px;
  left: 40px;
}

main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
  position: relative;
  left: 70px;
}

main section .contenido-carrito .productos-en-bolsa .precio-producto {
  position: relative;
  left: 90px;
}

main section .boton-eliminar{
  text-align: center;
}

main section .cuadro-pago {
  border: 1px solid #261e1a;
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  width: 300px;
  background: white;
  font-size: 15px;
}

main section .cuadro-pago .cupones {
  display: inline;
  text-decoration: none;
  color: #261e1a;
  border-bottom: 1px solid #261e1a;
}

main section .cuadro-pago .subtotal {
  border-bottom: solid 1px #261e1a;
}

main section .cuadro-pago .envio {
  border-bottom: solid 1px #261e1a;
}

main section .cuadro-pago .total-pago {
  text-align: center;
  border-bottom: solid 1px #261e1a;
}

main section .botones-cuadro-pago {
  display: flex;
  justify-content: center;
}

main section .botones-cuadro-pago button {
  margin: auto;
  padding: 10px;
  border: 1px double #f2be22;
  border-radius: 2px;
}

main section .botones-cuadro-pago button:hover {
  background-color: #f2a71b;
}




/*FOOTER*/

.footer {
    background-color: black;
    width: 105vw;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
  }
  
  
  .footer p {
    padding: 10px 0px 0px 15px;
    font-size: 16px;
  }
  
  .letra2 {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 25px;
    text-align: center;
    font-size: 12px;
  }

  /*_________________MEDIA QUIERES_________________*/
   /*TABLET*/
  @media screen and (min-width:424px){
      header{
          height: 350px;     
      }
      /* main */
   /* main */
   main section {
    display: block;
    justify-content: space-around;
  }

  main section .contenido-carrito {
    margin: 20px;
  }

  main section .contenido-carrito .subtitulos-productos {
    flex-wrap: nowrap;

  }

  main section .contenido-carrito .subtitulos-productos p {
    padding-left: 110px;
    padding-bottom: 10px;
  }

  main section .contenido-carrito .productos-en-bolsa {
    display: flex;
    justify-content: space-evenly;
    margin-left: -141px;
  }

  main section .contenido-carrito .productos-en-bolsa .producto {
    margin-top: 30px;
    width: 90px;
    position: relative;
    bottom: 25px;
    left: 40px;
  }

  main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
    position: relative;
    left: 70px;
  }

  main section .contenido-carrito .productos-en-bolsa .precio-producto {
    position: relative;
    left: 90px;
  }

  main section .cuadro-pago {
    margin: auto;
    margin-bottom: 10px;
  }

  main section .cuadro-pago .cupones {
    display: inline;
    text-decoration: none;
    color: #261e1a;
    border-bottom: 1px solid #261e1a;
  }

  main section .cuadro-pago .subtotal {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .envio {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .total-pago {
    text-align: center;
    border-bottom: solid 1px #261e1a;
  }

  main section .botones-cuadro-pago {
    display: flex;
    justify-content: center;
  }

  main section .botones-cuadro-pago button {
    margin: auto;
    padding: 10px;
    border: 1px double #f2be22;
    border-radius: 2px;
  }

  }

 /*COMPUTADOR*/

  @media screen and (min-width: 768px){
     header{
          width: 100%;
          height: 81vh;
      }
      .burger-menu i{
          display: none;
      }
      .contenedor{
        margin-top: 20px;
      }
      .container, .container2, .container3{
        height: 500px;
      }
      
    
     nav .letrasMenu{
       display: flex;       
       justify-content: space-between;
       border: black solid 1px;
       background-color: white;
       font-weight: bold;
     
     }
     nav .letra{
      color: black;
      text-decoration: none;
      font-size: 18px;
      margin-right: 30px;      
  } 
  /* main */

  main {
    width: 105vw;
  }

  main section {
    display: flex;
    justify-content: space-around;
  }

  main section .contenido-carrito {
    margin: 20px;
    width: 20vw;
  }

  main section .contenido-carrito .subtitulos-productos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  main section .contenido-carrito .subtitulos-productos h5 {
    padding-left: 110px;
    padding-bottom: 10px;
    margin-left: 10px;
  }

  main section .contenido-carrito .productos-en-bolsa {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 120px;
    margin-left: 0;
  }

  main section .contenido-carrito .productos-en-bolsa .producto {
    margin-top: 30px;
    width: 90px;
    position: relative;
    bottom: 25px;
    left: 40px;
    flex: auto;
  }

  main section .contenido-carrito .productos-en-bolsa .cantidad-producto {
    position: relative;
    left: 145px;
  }

  main section .contenido-carrito .productos-en-bolsa .precio-producto {
    position: relative;
    left: 310px;
  }

  main section .boton-eliminar{
    height: 20px;
    position: relative;
    top:48px
  }

  main section .cuadro-pago {
    border: 1px solid #261e1a;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    width: 300px;
    background: white;
  }

  main section .cuadro-pago .cupones {
    display: inline;
    text-decoration: none;
    color: #261e1a;
    border-bottom: 1px solid #261e1a;
  }

  main section .cuadro-pago .subtotal {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .envio {
    border-bottom: solid 1px #261e1a;
  }

  main section .cuadro-pago .total-pago {
    text-align: center;
    border-bottom: solid 1px #261e1a;
  }

  main section .botones-cuadro-pago {
    display: flex;
    justify-content: center;
  }

  main section .botones-cuadro-pago button {
    margin: auto;
    padding: 10px;
    border: 1px double #f2be22;
    border-radius: 2px;
  }

  main section .botones-cuadro-pago button:hover {
    background-color: #f2a71b;
  }
.footer{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  padding-right: 0px;
  justify-content: space-around;
  text-align: left;
          }
          
.letra2{
 color: white;
text-decoration: none;
font-weight: normal;
           
   }
    }

 @media screen and (min-width: 1024px){
   header{
    width: 100%;
    height: 75vh;
    }
    main ul li img {        
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
                     }
 .letrasMenu ul li .letra:hover{
  color: #f2be22;
  border-radius: 20px;
                    }
nav .letra{
font-size: 22px;
margin-right: 33px;      
                  }
        }
      

  