@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*HEADER*/


/*BODY*/
main {
  background-color: #f2d6bd;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  flex-direction: column;
  right: 1px;
  left: 1px;
}
.cabello,
.piel,
.maquillaje,
.accesorios {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 30px;
}
.articulo {
  background: white;
  margin: 50px;
  background-position: center;
  border-radius: 2%;
}

.imagen {
  border: solid #8c4e37 1px;
  border-radius: 5%;
}

.producto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.d-producto {
  border-top: 1px solid transparent;
  background-color: #fff;
  padding: 20px 30px;
  margin: auto;
}
.datos {
  color: black;
  font-size: 16px;
  text-align: left;
}
.d2-producto {
  border-top: 1px solid transparent;
  background-color: #fff;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5%;
}

.titulo {
  padding: 5px;
  text-decoration: underline;
  text-align: left;
  font-size: 20px;
}

h2 {
  text-align: left;
  font-size: 20px;
  text-decoration: underline;
}

.descripcion{
  font-size: 16px;
  text-align: justify;
}

/*FOOTER*/

.footer {
  background-color: black;
  width: 105vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.footer p {
  padding: 10px 0px 0px 15px;
  font-size: 16px;
}

.letra2 {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: 12px;
}

/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
@media screen and (min-width: 424px) {
  main {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
}

/*COMPUTADOR*/

@media screen and (min-width: 768px) {
  
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

  /*MAIN*/
  .articulo{
    width: 35%;
    padding: 10px;
 
   }
   .imagen {
     border: solid #8c4e37 1px;
     border-radius: 5%;
     width: 70%;
   }
   
   .producto {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
       
   }
   
   .d-producto {
     border-top: 1px solid transparent;
     background-color: #fff;
     padding: 20px 30px;
     margin: auto;
   }
   .datos {
     color: black;
     font-size: 16px;
     text-align: left;
   }
   .d2-producto {
     border-top: 1px solid transparent;
     background-color: #fff;
     padding: 20px 30px;
     text-align: center;
     border-radius: 5%;
   }
   
   .titulo {
     padding: 5px;
     text-decoration: underline;
     text-align: left;
     font-size: 20px;
   }
   
   h2 {
     text-align: left;
     font-size: 20px;
     text-decoration: underline;
   }
 
   .descripcion{
     font-size: 16px;
     text-align: justify;
   }


  /*FOOTER*/
  .footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 0px;
    justify-content: space-around;
    text-align: left;
  }

  .letra2 {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
}

@media screen and (min-width: 1024px) {
   /*MAIN*/
  .articulo{
   width: 30%;
   padding: 10px;

  }
  .imagen {
    border: solid #8c4e37 1px;
    border-radius: 5%;
    width: 70%;
  }
  
  .producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
      
  }
  
  .d-producto {
    border-top: 1px solid transparent;
    background-color: #fff;
    padding: 20px 30px;
    margin: auto;
  }
  .datos {
    color: black;
    font-size: 16px;
    text-align: left;
  }
  .d2-producto {
    border-top: 1px solid transparent;
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5%;
  }
  
  .titulo {
    padding: 5px;
    text-decoration: underline;
    text-align: left;
    font-size: 20px;
  }
  
  h2 {
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
  }

  .descripcion{
    font-size: 16px;
    text-align: justify;
  }
}