* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
}

main div{
  margin:auto;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0px; 
  margin-left: 60px; 
}


main ul{
  display: flex;
  width:320px;
  height:240px;
  animation: cambio 20s infinite alternate;
}

main ul li{
  list-style: none;
  width: 100%;
}

main ul li img{
  width:320px;
  height:240px;
}
@keyframes cambio{
  0%{margin-left:0;}
  20%{margin-left:0;}

  25%{margin-left:-100%;}
  45%{margin-left:-100%;}

  50%{margin-left:-200%;}
  70%{margin-left:-200%;}

  75%{margin-left:-300%;}
  100%{margin-left:-300%;}
}

/*FOOTER*/

.footer {
  background-color: black;
  width: 105vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.footer p {
  padding: 10px 0px 0px 15px;
  font-size: 16px;
}

.letra2 {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 599px) {

}

@media screen and (max-width: 1280px) and (min-width: 600px) {
  
}

@media screen and (min-width: 1281px) {}