@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
img {
  width: 100%;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*HEADER*/

/*BODY*/
main{
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center; 
  flex-direction: column;
  right: 1px;
  left: 1px;
}
/* .body {
  background-color: #f2d6bd;
  padding-bottom: 10px;
} */
h3 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  margin: 2% 10% 2% 10%;
  display: flex;
  flex-direction: column;
}

.nombre,
.apellido,
.correo,
.contrase単a,
.confirmacionContrase単a,
.avatar {
  margin-bottom: 20px;
  align-items: center;
  font-size: 16px;
  text-align: left;
}

.nombre input,
.apellido input,
.correo input,
.contrase単a input,
.confirmacionContrase単a input {
  width: 100%;
  margin-top: 5px;
  padding: 20px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.avatar input {
  width: 100%;
  margin-top: 5px;
  padding: 20px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.is-valid {
  color: #198754;
}

.is-invalid {
  color: red;
  border-radius: 1px solid red;
}

.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
}

.aviso{
  font-size: 10px;
  color: red;
}

.botonRegistrarse {
  background-color: #8c4e37;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}
.botonRegistrarse:hover{
  background-color: #F28E13;
}

.botonBorrar {
  background-color: #8c4e37;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}

.botonBorrar:hover{
  background-color: #F28E13;
}
.terminos{
  font-size: 16px;
}


/*FOOTER*/

.footer {
  background-color: black;
  width: 105vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.footer p {
  padding: 10px 0px 0px 15px;
  font-size: 16px;
}

.letra2 {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: 12px;
}

/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
@media screen and (min-width: 424px) {
 
  main {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
}

/*COMPUTADOR*/

@media screen and (min-width: 768px) {
 
  /* .contenedor {
    margin-top: 20px;
  }
  .container,
  .container2,
  .container3 {
    height: 500px;
  } */

  
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

  .footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 0px;
    justify-content: space-around;
    text-align: left;
  }

  .letra2 {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
}

@media screen and (min-width: 1024px) {
 
  main ul li img {
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
  }
  
  .letrasMenu ul li .letra:hover {
    color: #f2be22;
    border-radius: 20px;
  }
  nav .letra {
    font-size: 22px;
    margin-right: 33px;
  }

  /*MAIN*/
  h3 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .register {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    margin: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
  }
  .terminos{
    font-size: 16px;
  }



}