@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

main {
  position: relative; 
  justify-content: center;
  overflow: hidden;
  background-image: url("https://media.istockphoto.com/vectors/bamboo-and-wood-floor-background-vector-id1071103156?k=20&m=1071103156&s=170667a&w=0&h=N7v4bH6SWg14YUhLzz2wikzB5MVXbULIEzKzRuN5Eao=");
  background-size: cover;
  height: auto;  
}

#mainEditUser{
  background-image: url("https://www.artmajeur.com/medias/standard/a/r/artdenoe/artwork/10015597_afro-girl-adn.jpg");
  background-size: auto;
}

#mainEditUser h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(204, 204, 12);
}

h3 {  
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.desktop{
  display: none;
}

.register {
  box-shadow: 3px 3px 32px 11px rgba(0,0,0,0.66);
  padding: 20px;
  margin-top: 20px;
  background-color: #ffe4ec;
  border-radius: 5px;
  margin: 5% 10% 2% 10%;
  display: flex;
  flex-direction: column;
}

.nombre,
.apellido,
.correo,
.contraseña,
.confirmacionContraseña,
.avatar {  
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.nombre input,
.apellido input,
.correo input,
.contraseña input,
.confirmacionContraseña input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.avatar input {
  background-color: white;
  width: 100%;
  margin-top: 2px;
  padding: 20px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.alert-warning{
  font-family: 'Playfair Display', serif;
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin: 1rem 40rem;
  text-align: left;
  width: 40%;
}

.aviso{
  font-size: 10px;
  color: red;
}

.botonRegistrarse {
  background-color: #c97f64;
  font-size: 12px;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}

.botonBorrar {
  background-color: #c97f64;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}

.terminos{
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  main {
    display: flex;
    flex-wrap: wrap;
  } 
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 12rem;
  }

  .desktop{
    display: flex;
    width: 20vw;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-left: 5rem ;  
    margin-top: 5rem;
    font-size: 18px;  
  }

  .desktop p {
    text-align: right;
    line-height: 50px;    
  }

  #mainEditUser h3{    
    font-size: 18px;
  }

  h3{
    font-size: 18px;
  }

  .aviso{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .register{
    width: 40vw;
    margin: auto;
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1281px) {

  .wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15rem;
  }

  .desktop{
    display: flex;
    width: 20vw;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-left: 5rem ;  
    margin-top: 8rem;
    font-size: 25px;  
  }

  .desktop p {
    text-align: right;
    line-height: 50px;    
  }
  
  #mainEditUser h3{    
    font-size: 25px;
  }

  h3{
    font-size: 25px;
  }

  .aviso{
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 15px;
  }  

  .register{
    margin-top: 1rem;
    width: 40vw;
    margin: 1rem 0 1rem 8rem;
  }

  #editUserForm{
    width: 27vw;
    text-align: inherit;
    height: 50vh;
    padding-top: 30px;
    position: relative;
    left: 350px;
  }

  #editUserForm b{
    margin: auto;
  }  

  .forma{
    margin-bottom: 20px;
  }

  .forma input{
    border-radius: 5px;
  }

  .nombre,
  .apellido,
  .correo,
  .contraseña,
  .confirmacionContraseña,
  .avatar {  
    font-size: 16px;
  }

  .avatar input{
    font-size: 14px;
  }

  .botonRegistrarse {
    font-size: 14px;
  }

  .botonRegistrarse:hover{
    background-color: #e6c398;
  }
  
  .botonBorrar {
    font-size: 14px;
  }
  
  .botonBorrar:hover{
    background-color: #e6c398;
  }

  .terminos{
    font-size: 14px;
  }

}

