@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
.imagen {
  width: 50%;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*BODY*/
main{
  background-color: #f2d6bd;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center; 
  flex-direction: column;
  right: 1px;
  left: 1px;
}
/* .body {
  background-color: #f2d6bd;
  padding-bottom: 10px;
} */
h3 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register {
  height: 20%;
  padding: 30px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  /* margin: 2% 10% 2% 10%; */
  display: flex;
  flex-direction: column;
}

label{
  font-size: 8px;
  text-align: left;
  font-weight: bold;
}

label input{
  border: transparent solid;
}


.imagen{
  width: 50%;
  text-align: left;
  padding: 5px;
}

.icon-pencil{
  font-size: 10px;
  text-align: left;
  color: #8C4E37;    
  padding: 2px;
  position: relative;
  bottom: 180px;
  right: 140px;
    
}


.forma {
  margin-bottom: 20px;
  align-items: center;
  font-size: 16px;
  text-align: left;
}

.forma input {
  width: 100%;
  margin-top: 5px;
  padding: 20px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.botonRegistrarse {
  background-color: #8c4e37;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}
.botonRegistrarse:hover{
  background-color: #F28E13;
}

.botonBorrar {
  background-color: #8c4e37;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: all;
}

.botonBorrar:hover{
  background-color: #F28E13;
}
.terminos{
  font-size: 16px;
}



/*_________________MEDIA QUIERES_________________*/
/*TABLET*/
@media screen and (min-width: 424px) {
  
  main {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  main ul li img {
    margin: 0;
    padding: 0;
    width: 424px;
    margin-left: -64px;
    margin-right: 20px;
    justify-content: center;
  }
  .menu,
  .menu2,
  .menu3 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }
  .icon-pencil{
    font-size: 10px;
    text-align: left;
    color: #8C4E37;    
    padding: 2px;
    position: relative;
    bottom: 160px;
    right: 180px;
      
  }
}

/*COMPUTADOR*/

@media screen and (min-width: 768px) {
  main ul li img {
    margin: 0;
    padding: 0;
    width: 600px;
    margin-left: -150px;
    margin-right: 20px;
    justify-content: center;
  }

  label{
    font-size: 12px;
  }

  .icon-pencil{
    font-size: 14px;
    text-align: left;
    color: #8C4E37;    
    padding: 2px;
    position: relative;
    bottom: 160px;
    right: 350px;
      
  }

}

@media screen and (min-width: 1024px) {
  main ul li img {
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: -195px;
    margin-right: 60px;
    justify-content: center;
  }
  
  .letrasMenu ul li .letra:hover {
    color: #f2be22;
    border-radius: 20px;
  }
  nav .letra {
    font-size: 22px;
    margin-right: 33px;
  }

  /*MAIN*/
  h3 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .register {
    padding: 30px;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 20px;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    /* margin: 2% 10% 2% 10%; */
    display: flex;
    flex-direction: column;
  }

  label{
    font-size: 22px;
    text-align: left;
    font-weight: bold;
  }

  label input{
    font-size: 20px;
    border: transparent solid;
  }
  
  .box{
    display: flex;
    flex-wrap: wrap;
  }
  .imagen{
    text-align: left;
    padding: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .icon-pencil{
    font-size: 14px;
    text-align: left;
    color: #8C4E37;    
    padding: 2px;
    position: relative;
    right: 40px;
    top: 60px;    
  }

  .icon-pencil:hover{
    color: black;
  }
}