@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  /*HEADER*/
  
  div.primeraParte {
    display: flex;
    flex-wrap: wrap;
    background-color: #8c4e37;
    justify-content: space-around;
    width: 100vw;
    /* display: flex;
      background-color: #8C4E37;
      width: 100%;
      background-size: cover;
      padding: 0px 0px;
      justify-content: space-around; */
  }
  
  .logo {
    width: 100%;
    padding: 10px 100px;
    justify-content: right;
    position: relative;
    left: 100px;
   
  
    /* border-radius: 30%;
      padding: 30px 0px 10px 20px; */
  }
  
  div.segundaParte {
    display: flex;
    background-color: #8c4e37;
    justify-content: space-around;
    padding: 10px;
    /* padding: 60px 20px 30px 0px; */
  }
  
  .burger-menu {
    text-align: center;
  }
  .burger-menu i {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }
  
  .grupoIconos {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .iconos {
    color: black;
    font-size: 100%;
    padding: 10px;
    margin-top: 10px;
    /* font-size: 200%;
      padding: 10px 20px 10px 20px; */
    text-align: right;
  }
  
  .barraBusqueda {
    font-size: 5%;
    width: 120px;
    padding: 10px;
    margin: 10px;
    /* 
      display: flex;
      align-items: center;
      font-size: 150%;
      width: 800px;
      margin: 60px 5px 30px 0px;
     */
  }
  
  .lupa {
    font-size: 90%;
    padding: 0px;
  
    /* font-size: 150%;
      padding: 0px; */
  }
  
  .letrasMenu {
    display: none;
  }
  
  .letra {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

/*BODY*/
.body{
    background-color: #F2D6BD;
    padding-bottom: 10px;
    margin: auto;
      
}

h3{
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 30px;

}

.login {
    padding: 20px;
    margin-top: 20px;
    background-color:white;
    opacity: 80%;
    border-radius: 5px;
    margin: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    
  }
  
  .forma {
    margin: 20px;
    text-align: center;   
  }

  .forma input {
    width: 100%;
    margin-top: 5px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .contraseña{
      text-align: center;      
      color: black;
      font-weight: bold;
  }


  .boton{
    background-color: #8C4E37;
    text-decoration: none;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition-property: all;
  }
  
  .boton:hover {
    background-color: #F28E13;
  }
  


/* .formulario{
    width: 50%;
    border-radius: 10%;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    background-position: center;
    background-color: white;
    margin: auto;
    padding: 50px 20px;
    border: solid 1px #F28E13;

    
    
} */



/*FOOTER*/

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
   
    justify-content: space-around;
  }
  
  .footer p {
    padding: 10px 0px 0px 50px;
  }
  
  .letra2 {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 50px;
  }
  
  
  /*_________________MEDIA QUIERES_________________*/
  
  @media (min-width: 769px) {

    /*HEADER*/
  
    
    div.primeraParte{
      display: flex;
      background-color: #8C4E37;
      width: 105vw;
      background-size: cover;
      padding: 0px 0px;
      justify-content: space-around;
      
  }
  
  div.segundaParte{
      display: flex;
      background-color: #8C4E37;
      justify-content: flex-end;
      padding: 50px 20px 30px 0px;
      position: relative;
      left: 200px;
     
  }
    .iconos{
        color: black;
        font-size: 200%;
        padding: 50px 10px 20px 40px;
        text-align: right;
        display: flex;
        text-decoration: none;    
    
    }
       
    
    .logo{
        border-radius: 30%;
        width: 45%;
        padding: 30px 0px 10px 20px;
        position: absolute;
        left: 100px;
    }
    
    .barraBusqueda{
        font-size: 100%;
        width: 600px;
        margin: 60px 5px 30px 0px;
        
      
        
    }
    
    .lupa{
        font-size: 150%;
        padding: 0px;
    }
    
    .letrasMenu{
      background-color: #A65E44;
      display: flex;  
      width: 105vw;
      justify-content: space-around;
      color: black;
      font-style: normal;
      text-decoration: none;
      padding: 10px;
      margin: 2px;
      align-items: center;  
      
    }
    
    .letrasMenu ul{
      border-right: 3px dashed #f2be22;
    }
    
    .letrasMenu ul li .letra:hover{
      color: #f2be22;
      border-radius: 20px;
    }

    .letra{
      color: black;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      padding: 10px 80px;
      
  }
    
    .burger-menu{
        display: none;
    }
  /*BODY*/
  
  
  /*FOOTER*/
  
  .footer{
      background-color: black;
      width: 105vw;
      display: flex;
      flex-direction: row;
      color: white;
      padding-right: 20px;
      justify-content: space-around;
  }
  
  .letra2{
      color: white;
      text-decoration: none;
      font-weight: normal;
     
  }
  }
  