.welcome{
    color:black;
    font-weight: bold;
    width: 80vw;
    text-align: center;
    position: relative;
}

.gif {
    width: 30vw;
    height: 30vw;
    align-content: center;
    border-radius: 300px;
    margin-bottom: 3rem;
    position: absolute;
    margin-left: 35rem;
    bottom: 120px;
}

.text-container{
    position: absolute;
    margin-top: 16rem;
    width: 80vw;
    color: black;
    font-style: italic;
    position: relative;
}
.texto {
    margin-bottom: 4rem;
}

.copyright{
    position: relative;
}