<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesnavegacion.css">

        <body class="body">
            <%- include ('./partials/header') %>

                <main>
                    <section>
                        <h3 class="cabello">CABELLO</h3>
                        <div class="producto">
                            <article class="articulo">
                                <img class="imagen"
                                    src="http://cdn.shopify.com/s/files/1/0066/2349/4233/products/skala_divino_Potao_1024x.png?v=1597306288"
                                    width="300px" height="250px" alt="Skala">
                                <div class="d-producto">
                                    <h3 class="titulo">Crema de peinar SKALA</h3>
                                    <p class="datos">Precio: $33.000</p>
                                    <p class="datos">Referencia:11-234</p>
                                    <p class="datos">Cantidad: 1 <a class="datos" href="#"></a> <i
                                            class="fas fa-plus"></i></a></p>
                                    <p class="datos">A침adir carrito <a class="datos" href="/carrito"><i
                                                class="fas fa-cart-arrow-down"></i> </a></i></p>
                                </div>
                                <div class="d2-producto">
                                    <h2>Descripci칩n:</h2>
                                    <p class="descripcion">Crema de peinar para cabello tipo c2, contiene vitaminas y
                                        minerales que
                                        ayudan al crecimiento</p>

                                </div>
                            </article>
                            </article>
                            <article class="articulo">
                                <img class="imagen"
                                    src="https://cdn.shopify.com/s/files/1/0066/2349/4233/products/e6d1efc0-39f0-4c24-b738-c49234e1c733_400x.png?v=1588966650"
                                    width="300px" height="250px" alt="set">
                                <div class="d-producto">
                                    <h3 class="titulo">Aceite de Ricino Negro</h3>
                                    <p class="datos">Precio: $37.000</p>
                                    <p class="datos">Referencia:11-236</p>
                                    <p class="datos">Cantidad: 1 <a class="datos" href="#"></a> <i
                                            class="fas fa-plus"></i></a></p>
                                    <p class="datos2">A침adir carrito <a class="datos" href="/carrito"><i
                                                class="fas fa-cart-arrow-down"></i> </a></i></p>
                                </div>
                                <div class="d2-producto">
                                    <h2>Descripci칩n:</h2>
                                    <p class="descripcion">Este enjuague para trenzas y cuero cabelludo, limpia
                                        suavemente y acondiciona el cabello, los bordes y el cuero cabelludo durante el
                                        uso de trenzas sin causar frizz.</p>
                                </div>
                            </article>

                    </section>
                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>