<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesProductCard.css">

        <body>
            <%- include ('./partials/header') %>
                <main>
                    <h3>CARRITO ACTUAL</h3>
                    <section>
                        <article class="contenido-carrito">
                            <div class="subtitulos-productos">
                                <h5>Producto(s)</h5>
                                <h5>Cantidad(es)</h5>
                                <h5>Precio</h5>
                            </div>
                            <div class="productos-en-bolsa">
                                <img class="producto" src="/images/crema_de_peinar.jpg" alt="articulo">
                                <p class="cantidad-producto">1</p>
                                <p class="precio-producto">$299.999</p>
                            </div>
                        </article>
                        <button type="submit" class="boton-eliminar">Eliminar</button>
                        <article class="cuadro">
                            <div class="cuadro-pago">
                                <a href="#" class="cupones">Cupones</a>
                                <p class="subtotal">Subtotal:</p>
                                <p class="envio">Envio:</p>
                                <p class="total-pago">Total:</p>
                            </div>
                            <div class="botones-cuadro-pago">
                                <form>
                                    <button type="submit">Finalizar compra</button>
                                    <br>
                                    <button type="submit">Seguir comprando</button>
                                </form>
                            </div>
                        </article>
                    </section>
                </main>

                <%- include ('./partials/footer') %>
        </body>

        </html>