<%- include ('./partials/doctype') %>

<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/stylesHome.css">

<body>
    <%- include ('./partials/header') %>

    <h2 class="products-title">Detalle del producto: NOMBRE DEL PRODUCTO</h2>
			
		<div class="product-detail">
					<img src="http://cdn.shopify.com/s/files/1/0066/2349/4233/products/skala_divino_Potao_1024x.png?v=1597306288/¿?" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						PRODUCT DESCRIPTION
					</p>
				
    
</body>
</html>