<%- include ('./partials/doctype') %>

<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/stylesHome.css">

    <body class="body">

        <%- include ('./partials/header') %>


            <main class="main">

                <div class="container">
                    <h3>NUESTRAS MODELOS</h3>
                    <ul class="slider">
                        <li id="slide1">
                            <img src="https://www.upb.edu.co/es/imagenes/img-mujerafro-1464211237529.jpg" />
                        </li>
                        <li id="slide2">
                            <img
                                src="https://i0.wp.com/afrofeminas.com/wp-content/uploads/2020/08/El-poder-de-elecci%C3%B3n-en-la-industria-cosm%C3%A9tica-.jpg?resize=790%2C597&ssl=1" />
                        </li>
                        <li id="slide3">
                            <h1>Registrate en nuestro boletin quincenal para mas contenido</h1>
                            <p>Somos de ustedes</p>
                            <a href="#">¡Registrate!</a>
                        </li>
                        <li id="slide4">
                            <img
                                src="https://imagenes.laestrella.com.pa/files/image_990_491/uploads/2019/09/16/5d7ff6556462b.jpeg" />
                        </li>
                        <li id="slide5">
                            <img
                                src="https://sc02.alicdn.com/kf/HTB1UCejbhn1gK0jSZKPq6xvUXXa6/221144580/HTB1UCejbhn1gK0jSZKPq6xvUXXa6.jpg" />
                        </li>
                    </ul>
                    <ul class="menu">
                        <li>
                            <a href="#slide1">1</a>
                        </li>
                        <li>
                            <a href="#slide2">2</a>
                        </li>
                        <li>
                            <a href="#slide3">3</a>
                        </li>
                        <li>
                            <a href="#slide4">4</a>
                        </li>
                        <li>
                            <a href="#slide5">5</a>
                        </li>
                    </ul>
                </div>

                <div class="container2">
                    <h3>OFERTAS</h3>
                    <ul class="slider">
                        <li id="slide6">
                            <img
                                src="https://prismabelleza.com/wp-content/uploads/2019/03/CABELLO-AFRO-ETNIKER-LMAR.jpg" />
                        </li>
                        <li id="slide7">
                            <img
                                src="https://i.pinimg.com/736x/b7/76/fb/b776fba1a4f848aa0e14e3257c83a393--afro-cosmetics.jpg" />
                        </li>
                        <li id="slide8">
                            <img
                                src="https://2.bp.blogspot.com/-i8Pp5HwlQ60/UXwqpzT6iSI/AAAAAAAAIek/nbszDQgv4vI/s640/100_2216_001.jpg" />
                        </li>
                        <li id="slide9">
                            <img src="https://www.itcosmeticos.com.br/y/4269/Cosmeticos-Black-Up.jpg" />
                        </li>
                        <li id="slide10">
                            <img
                                src="https://media.istockphoto.com/vectors/portrait-beautiful-afro-woman-in-shenbolen-ankara-headwrap-african-vector-id1250679305?s=612x612" />
                        </li>
                    </ul>
                    <ul class="menu2">
                        <li>
                            <a href="#slide6">6</a>
                        </li>
                        <li>
                            <a href="#slide7">7</a>
                        </li>
                        <li>
                            <a href="#slide8">8</a>
                        </li>
                        <li>
                            <a href="#slide9">9</a>
                        </li>
                        <li>
                            <a href="#slide10">10</a>
                        </li>
                    </ul>
                </div>
                <div class="container3">
                    <h3>NUESTRAS MARCAS</h3>
                    <ul class="slider">
                        <li id="slide11">
                            <img
                                src="http://cdn.shopify.com/s/files/1/0066/2349/4233/products/AfricanPride_HidratacionMilagrosa_curling_cream_1024x.jpg?v=1597294113" />
                        </li>
                        <li id="slide12">
                            <img
                                src="https://ae01.alicdn.com/kf/H7b199431f9834d32aa769ab951f03684c/Eseewigs-cabello-humano-trama-Afro-rizado-brasile-o-pelo-armadura-paquetes-Remy-4B-4C-extensiones-humanas.jpg_Q90.jpg_.webp" />
                        </li>
                        <li id="slide13">
                            <img
                                src="http://2.bp.blogspot.com/-5BYd16rqheU/TjNpgzGlXVI/AAAAAAAAADU/TOC-DRTlh64/s1600/Afro+papel+mache.JPG" />
                        </li>
                        <li id="slide14">
                            <img
                                src="https://i.pinimg.com/736x/52/30/d1/5230d17b1d6976fbfaf39fa91b7550d8--afro-lipstick.jpg" />
                        </li>
                        <li id="slide15">
                            <img src="https://i.pinimg.com/originals/b9/70/3f/b9703faeb4787cce3e514efa42a8716d.jpg" />
                        </li>
                    </ul>

                    <ul class="menu3">
                        <li>
                            <a href="#slide11">11</a>
                        </li>
                        <li>
                            <a href="#slide12">12</a>
                        </li>
                        <li>
                            <a href="#slide13">13</a>
                        </li>
                        <li>
                            <a href="#slide14">14</a>
                        </li>
                        <li>
                            <a href="#slide15">15</a>
                        </li>
                    </ul>
                </div>
            </main>

            <%- include ('./partials/footer') %>


    </body>

</html>