<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesLogin.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body">
                    <h3> Bienvenido(a)
                        Inicia Sesion
                    </h3>
                    <form action="/login" method="POST" class="login"><b>
                            <div>
                                <label class="forma">Usuario</label>
                                <input type="text" name="Usuario">
                            </div>
                            <div>
                                <label class="forma">Contraseña</label>
                                <input type="password" name="contraseñaUsuario">
                            </div>
                            <button class="boton" type="submit"><b class="boton">Ingresar</b></button>
                            <div class="contraseña">
                                <a class="contraseña" href="#">Olvidaste tu contraseña?</a>
                            </div>

                            <div>
                                <button class="boton2"><a href="/register" class="boton"><b>Crear Cuenta</b></a></button>
                            </div>
                        </b>
                    </form>

                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>