<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/styles-quienesSomos.css">


        <body class="body">
            <%- include ('./partials/header') %>
                <main>
                    <section>
                        <h3 class="cabello">¿QUIENES SOMOS?</h3>
                        <div class="producto">
                            <article class="articulo">
                                <img class="imagen" src="/images/Afro.jpg" width="300px" height="250px" alt="Skala">
                                <div class="d-producto">
                                    <p class="datos">KaronsAfro es una empresa dedicada a la distribución de productos
                                        de belleza Afro.</p>
                                    <p class="datos">Creemos en el potencial de las relaciones y en el poder de la
                                        cosmética como ampliadora de conciencia, por esta razón, nuestra finalidad es
                                        exaltar la estética Afrocolombiana.</p>

                                </div>
                            </article>

                    </section>
                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>