<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesRegister.css">

<body class="body">
    <%- include ('./partials/header') %>
    <main class="body">
        <h3> CREAR CUENTA</h3>
        <form action="#" method="get" class="register"><b>
                <div class="forma">
                    <label>Nombre</label>
                    <input type="text" name="nombreUsuario" min="3" required>
                </div>
                <div class="forma">
                    <label>Apellido</label>
                    <input type="text" name="apellidoUsuario" min="3" required>
                </div>
                <div class="forma">
                    <label>Correo Electrónico</label>
                    <input type="email" name="emailUsuario" required>
                </div>
                <div class="forma">
                    <label>Contraseña</label>
                    <input type="password" name="contraseñaUsuario" min="8" required>
                </div>
                <div class="forma">
                    <label>Confirmación de Contraseña</label>
                    <input type="password" name="confirmacionContraseñaUsuario" min="8" required>
                </div>
                <div class="forma">
                    <label>Pais de Residencia</label required>
                    <select>
                        <option><b>Colombia</b></option>
                        <option><b>Venezuela</b></option>
                    </select>
                </div>
                <div class="forma">
                    <label>Indicativo</label required>
                    <select>
                        <option><b>+57</b></option>
                        <option><b>+58</b></option>
                    </select>
                </div>
                <div class="forma">
                    <label>Celular</label>
                    <input type="text" name="celularUsuario" min="10" required>
                </div>
                <div class="forma">
                    <label>Dirección</label>
                    <input type="text" name="direccionUsuario" required>
                </div>
                <div>
                    <label class="terminos">
                        <input type="radio" name="terminosUsuario" required>
                        Acepto término y condiciones
                    </label>
                </div>
                <button class="botonRegistrarse" type="submit"><b>Registrarse</b></button>
                <button class="botonBorrar" type="reset"><b>Borrar</b></button>

            </b>
        </form>

    </main>
    <%- include ('./partials/footer') %>

</body>

</html>