<footer class="footer">
    <div>
        <p><b>Legal</b></p>
        <br>
        <nav>
            <ul type="none">
                <li><a href="#" class="letra2">Condiciones de uso</a></li>
                <li><a href="#" class="letra2">Política de privacidad</a></li>
                <li><a href="#" class="letra2">Términos y Condiciones</a></li>
                <li><a href="#" class="letra2">Política de cambios y devoluciones</a></li>
                <li><a href="#" class="letra2">Política de datos Colombia</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <p><b>Contactos</b></p>
        <br>
        <nav>
            <ul type="none">
                <li><a href="#" class="letra2">Preguntas frequentes</a></li>
                <li><a href="#" class="letra2">Escríbenos</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <p><b>Redes Sociales</b></p>
        <br>
        <nav>
            <a href="#" class="letra2"><i class="fab fa-facebook"></i></a>
            <a href="#" class="letra2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="letra2"><i class="fab fa-instagram"></i></a>
        </nav>
    </div>
    <div>
        <p><b><a href="/administrador" class="letra2">Administrador</a></b></p>
        <br>
    </div>


</footer>
