<% if (locals.adminLogged && locals.adminLogged.rol==1) { %>
            <a><i class="far fa-user" style="margin-right: 5px;margin-left: 5px;"></i></a>
            <p>Hola administrador, <%= locals.adminLogged.name %></p>
    <% }else if(locals.userLogged) { %>
                <a href="/user/<%= userLogged.name %> "><i class="far fa-user" style="margin-right: 5px; margin-left: 5px;"></i></a>
                <p>Hola <%= userLogged.name %>!</p>
        <% }%>