<% if (locals.adminLogged && locals.adminLogged.rol==1) { %>
    <div class="user">
       <a><i class="far fa-user"></i></a>
    <h4>Hola administrador, <%= locals.adminLogged.name %> </h4> 
    </div>
    
    <% }else if(locals.userLogged) { %>
        <div class="user">
           <a href="/user/<%= userLogged.name %> "><i class="far fa-user"></i></a>
        <h4>Hola <%= userLogged.name %>!</h4> 
        </div>
        
        <% }%>