<% if (locals.adminLogged && locals.adminLogged.Role==1) { %>
    <div>
        <div class="user-icon">
            <a><i class="far fa-user"></i></a>
        </div>
        <div class="saludo-user">
            <h1>Hola administrador, <%= locals.adminLogged.Name %>
            </h1>
        </div>
    </div>
    <% }else if(locals.userLogged) { %>
        <div>
            <div class="user-icon">
                <a><i class="far fa-user"></i></a>
            </div>
            <div class="saludo-user">
                <h1>Hola <%= userLogged.Name %>!</h1>
            </div>
        </div>
        <% }%>