<link rel="stylesheet" href="/css/stylesHeader.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<header>
    <nav>
        <input type="checkbox" id=check>
        <!-- relacionando checkbox con label y 
            haciendo clickeable fontawesone -->
        <label for="check" class="checkbtn">
            <i  class="fas fa-bars fa-2x"></i>
        </label>
        <label for="check" class="checkbtn_close">
            <i  class="fas fa-times fa-2x"></i>
        </label>
        
        <label class="logo"><img src="">KARONSAFRO</label>
        <ul>   
            <% if (locals.isUserLogged) { %>
            <li><a href="/logout/" class="iconos"><i class="fas fa-door-open"></i></a></li>    
            <li><a href="/carrito_compras" class="iconos"><i class="fas fa-shopping-cart" alt="Carrito de Compra"></i></a>
            <% }else{ %>        
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/login">Ingresar</i></a> </li>
            <li><a href="/carrito_compras"><i class="fas fa-shopping-cart" alt="Carrito de Compra"></i></a></li>
            <li><a href="/" >Inicio</a></li>
            <li><a href="/quienesSomos">¿Quienes somos?</a></li>
            <li><a href="/producto/cabello">Cabello</a></li>
            <li><a href="/producto/piel">Piel</a></li>
            <li><a href="/producto/maquillaje">Maquillaje</a></li>
           <li><a href="/producto/accesorios">Accesorios</a></li> 
           <% } %>            
        </ul>
    </nav>
  
</header>
